@charset "UTF-8";

body {
  //font-size: 10pt;
  margin: 3px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: lightgoldenrodyellow;
  height: 30px;
  width: 100%;

  a {
    margin-left: 10px;
  }
}

#content {
  padding-top: 30px;
}

@mixin schedule-option {
  display: inline;
  margin-left: 10px;
  font-size: x-small;
  padding: 2px;
}

.exercises {
  @include schedule-option;
  background-color: yellow;
  color: blue;
}

.exercises:after {
  content: '演習';
}

.test {
  @include schedule-option;
  background-color: red;
  color: white;
}

.task {
  @include schedule-option;
  background-color: blue;
  color: white;
}

.schedule-list {
  .date {
    background-color: aquamarine;
    font-size: small;
  }
  .schedule {
  }
  .schedule.select {
    color: gray;
  }
  .period, .limit {
    display: inline;
    margin-right: 10px;
  }
  .period:after {
    content: '限';
  }
  .limit {
    font-size: small;
    color: blue;
  }
  .name {
    display: inline;
  }
}

.calendar {
  .week {
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
  }
  .day {
    width: 19.5%;
    margin: 1px;

    .date {
      background-color: aquamarine;
      font-size: small;
      text-align: center;
      height: 20px;
    }
    .period {
      border: 1px solid lightgray;
      margin-top: -1px;

      .title {
        display: inline;
        float: left;
      }
      .exercises, .test, .task {
        float: right;
        margin: 0px;
      }
    }
    .period.select {
      color: gray;
    }
    @for $i from 1 through 5 {
      .length#{$i} {
        height: #{25 * $i - 1}px;
      }
    }
  }
}

.task-list {
  .date {
    background-color: aquamarine;
    font-size: small;
  }
}

.lesson {
  .title {
    font-size: large;
  }
  .select:after {
    @include schedule-option;
    background-color: lightgray;
    color: black;
    margin-left: 10px;
    content: '選択';
  }

  .lesson-list {
    border-collapse: collapse;
    td {
      padding: 3px 5px;
    }
    .row:nth-child(odd) {
      background-color: lightcyan;
    }
    .row:nth-child(even) {
      //background-color: lightgoldenrodyellow;
    }
    .date {
      text-align: right;
    }
    .period:after {
      content: '限';
    }
    .memo {
      @include schedule-option;
      background-color: goldenrod;
    }
  }
}
